.contenedor {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 300px;
}

.gif {
    height: 150px;
    width: 250px;
}

.filtros {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos {
    background-color: rgb(68, 236, 236);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0px;
}

.item {
    background-color: rgb(221, 156, 238);
    height: 100px;
    list-style: none;
    margin: 10px;
}

.boton {
    height: 50px;
    width: 80px;
    background-color: rgb(73, 216, 73);
}